<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD//EN"-->
<!--        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<hibernate-configuration>
    <session-factory>
<!--&lt;!&ndash;        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="connection.url">jdbc:postgresql://localhost:5433/postgres</property>&ndash;&gt;-->

<!--        <property name="connection.url">//postgres://pohrbepygisbbd:892707cfa40e14b18b0a66020cf206a96796a484d0d8abb5bdd99e8c7f3c509a@ec2-34-254-69-72.eu-west-1.compute.amazonaws.com:5432/d677pta579u9mh</property>-->
<!--        <property name="connection.username">pohrbepygisbbd</property>-->
<!--        <property name="connection.password">892707cfa40e14b18b0a66020cf206a96796a484d0d8abb5bdd99e8c7f3c509a</property>-->

<!--        <property name="connection.driver_class">org.postgresql.Driver</property>-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>-->
<!--        <property name="hibernate.current_session_context_class">thread</property>-->

<!--        <mapping class="ru.laskin.myWebApp.model.Test"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.Question"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.Answer"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.GroupTest"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.AttemptTest"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.Position"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.ResultTest"/>-->
<!--        <mapping class="ru.laskin.myWebApp.model.User"/>-->

    </session-factory>
</hibernate-configuration>